@import '../../style/mixins.scss';
@import '../../style/_variables.scss';
@import '../../style/_extends.scss';
.not-found {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 0 150px;
    height: 100vh;
    background: #eeeeee;
    &__title {
        @include title($secondary-fonts);
    }
    &__description {
        @include description($granite-gray);
        text-align: unset;
        width: 44%;
    }
    &__link {
        text-decoration: none;
        color: $light-green;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        .back-icon {
            color: $light-green;
            width: 20px;
            height: 30px;
        }

        p {
            margin: 0;
        }

        &:hover {
            text-decoration: none;
            color: $light-green;
        }
    }
}

@media only screen and (max-width: 768px) {
    .not-found {
        align-items: center;
        padding: 100px 0;
        &__description {
            width: 320px;
        }
    }
}