.premier-block {
    background: url("../../images/section1-bg.png") 0 0 no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
    z-index: 20;
    flex: 1;
    overflow-x: auto;

    &__wrapp-premier-content {
        display: block;
        max-width: 430px;
        margin: 200px auto 0;
    }

    &__logo {
        display: block;
        transition: all 0.3s ease-in-out;
        width: 63px;
        height: 63px;
        margin: 0 auto;

        &:hover {
            transform: rotateY(180deg) scale(1.4);
        }
    }

    .main-title {
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        line-height: 64px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        padding: 15px 0 20px;
    }

    .description {
        font: 24px/32px 'Source Sans Pro', sans-serif;
        text-align: center;
        color: #ffffffb2;
    }
}

@media only screen and (max-width: 768px) {
    .premier-block {
        background-position: right 0;

        &__small-stars,
        &__big-stars {
            background-position: right 0;
        }

        &__wrapp-premier-content {
            padding: 0 50px;
        }
    }
}