@mixin title($fontFamily, $color: $black) {
    font-family: $fontFamily;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
    color: $color;
}

@mixin description($color) {
    font: 24px/32px $primary-fonts;
    text-align: center;
    color: $color;
}