@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$primary-fonts: 'Source Sans Pro', sans-serif;
$secondary-fonts: 'Oswald', sans-serif;

$white: #ffffff;
$black: #000000;
$granite-gray: #666666;
$dark-gray: #464547;
$blue: #55c2d8;
$light-green: #4acdb1;

$margin-center: 0 auto;
