@import '../../style/_variables.scss';
@import '../../style/mixins.scss';

.user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        height: 400px;
        padding: 20px 25px;
        margin: 0 10px;
        border-radius: 8px;
        cursor: default;
        text-align: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }

    &__description {
        margin: 20px 0;
    }

    &__img {
        display: block;
        width: 150px;
        height: 150px;
    }

    &__name {
        color: $dark-gray;
        text-transform: uppercase;
        font: 700 12px/20px $primary-fonts;
        letter-spacing: 2px;
    }

    &__position {
        color: $granite-gray;
        width: 92px;
        font: 400 12px/20px $primary-fonts;
        text-align: center;
    }

    .not-found__link {
        margin-top: 30px;
    }
}